*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #1E2024;
  max-width: max-content;
  margin: auto;
}

.main--content{
  width: 400px;
  background-color: #17191D;
  margin-top: 15px;
}
/*Info Component*/
.info{
  color: #fff;
  text-align: center;
}
.headshot{
  width: 100%;
}

.info--name{
  color: #fff;
  font-family: 'Roboto Mono', sans-serif;
}